#---------------------------------------#
# git, GitHub                           #
#---------------------------------------#
.git/
.github/
CODEOWNERS
LICENSE

#---------------------------------------#
# IDEs & Editors Ignores                #
#---------------------------------------#
.vscode/

#---------------------------------------#
# MkDocs                                #
#---------------------------------------#
docs/
site/
